.Card-Player {
  position: relative;
  width: 280px;
}

.Card-Player .header-Card {
  background-color: #f3f8f0;
  border-radius: 10px 10px 0px 0px;
}

.Card-Player img {
  width: 100px;
  border-radius: 50%;
  position: relative;
  bottom: -50px;
}

.Card-Player .info-Card {
  background: #ffffff;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
  border-radius: 0px 0px 10px 10px;
  padding-top: 90px;
  padding-bottom: 40px;
}

.Card-Player .info-Card h4 {
  color: #2c3b8d;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  margin-bottom: 8px;
}

.Card-Player .info-Card h5 {
  font-size: 18px;
  line-height: 22px;
  color: #212121;
  padding: 0 16px;
}

.Delete {
  position: absolute;
  right: -9px;
  top: -9px;
  font-size: 22px ;
}
