.teams-cards {
  position: relative;
  text-align: center;
  padding: 32px;
  border-radius: 10px;
  margin: 100px;
}

.teams-cards h3 {
  font-size: 32px;
  border-bottom: 4px solid black;
  display: inline-block;
  padding-bottom: 8px;
}

.teams-cards .player-cards {
  display: flex;
  justify-content: space-around;
  margin-top: 32px;
  flex-wrap: wrap;
}

.input-color {
  position: absolute;
  top: 20px;
  right: 20px;
}
